@font-face {
    font-family: 'Coolvetica';
    src: url(/fonts/Coolvetica\ Rg\ It.otf)
}

:root{
    --main-color: #507de1;
}


main {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: var(--main-color);
}

.login-form {
    margin-top: 30vh;
    width: 100%;
    max-width: 25rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
}


.carta{
    height: 270px;
    transform-origin: center;
    transform: rotate(47.1deg) translate(-100px, -350px);
}

header{
    padding-top: 2%;
    max-height: 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
}   
header > h1{
    font-family: 'Coolvetica', sans-serif ;
    font-size: 100px;
    color: #a61a1a;
}
header > h2{
    line-height: 4%;
    margin-left: 9rem;
    font-family: 'Courier new';
    font-size: 90px;
}

.card-body > .btn-primary{
    background-color: #a61a1a;
    border-color: #a61a1a;
}


.cadastro{
    margin-left: 5%;
}

main > p {
    margin-top: 110px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 40px;
}

.h-navbar{
    padding-top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030536; 
  padding: 20px 20px;
  border-bottom: 2px solid #4169e1; 
}

.navbar-left {
  display: flex;
  gap: 10px;
}

.nav-links{
    margin-left: 30px;
    margin-top: 15px;
}

.nav-links .nav-list {
  list-style: none;           
  display: flex;              
  gap: 20px;                  
  margin: 0;
  padding: 0;
}

.nav-link{
    color: #ccc;
}

.nav-item{
  color: white;               
  font-weight: bold;
  font-size: 18px;
}

.navbar-right .coin {
  display: flex;
  align-items: center;
  background-color: #d1d5db; /* cinza claro */
  border-radius: 10px;
  padding: 5px 10px;
}


.icon{
   transform: rotate(47.1deg) 
}

.icon,
.coin-icon {
  height: 64px;
  width: auto;
}

.bi-person-circle{
    font-size:42px;
    color: white;
}

.money {
  margin-left: 8px;
  font-weight: bold;
  color: black;
  font-family: monospace;
}

.podio{
    weight: 1000px;
    margin-top:300px;
}

div.card{
    width: 18rem;
}

.card-img-top {
  height: 200px; 
  object-fit: cover;
}
