body{
    background-color: #507de1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta{
    width: 250px;
    transform: rotate(47.1deg) translate(400px, -10px);
   
}